$color-primary: #000000;
$color-secondary: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);

.toggle-repeat-btn {
  background-color: $color-transparent;
  color: $color-secondary;
  cursor: pointer;
  font-size: 1.5rem;
}

div .number-of-categories {
  float: left;
}

div .new-categories-btn {
  color: $color-secondary;
  cursor: pointer;
}

.symbol {
  align-content: center;
  cursor: pointer;
  color: $color-secondary;
}

.category-number-input {
  width: 10%;
  font-size: 2rem;
  padding: 15px;
  color: $color-secondary;
  background-color: $color-transparent;
  outline: none;
  border: 3px solid $color-transparent;
  display: inline;
  text-align: center;
}

.max + span:after {
  content: 'max';
  color: $color-secondary;
  display: inline;
  position: relative;
}

.category-list {
  height: 30%;
  overflow: auto;
}

.category-list > li {
  color: $color-secondary;
  text-align: left;
}

.reroll-btn {
  background-color: $color-transparent;
  color: $color-secondary;
  cursor: pointer;
  font-size: 1.5rem;
}

.timer-section {
  width: 100%;
  height: 40%;
  border: $color-secondary;
  border-style: solid;
}

.timer-letter {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  flex-grow: 1;
}

.letter-section {
  height: 60%;
  width: 100%;
  border: $color-secondary;
  border-style: solid;
}

.category-section {
  width: 60%;
  height: 100%;
  border: $color-secondary;
  border-style: solid;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
}

.letter-generator {
  width: 100%;
}

.App {
  margin: 0 auto;
  width: 95%;
  height: 95vh;
  border: $color-secondary;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.minus-icon {
  color: $color-secondary;
}

.plus-icon {
  color: $color-secondary;
}
body {
  background-color: $color-primary;
  font-family: 'Courier New';
}

#start-btn {
  background-color: $color-transparent;
  color: $color-secondary;
  cursor: pointer;
  font-size: 1.5rem;
}
#stop-btn {
  background-color: $color-transparent;
  color: $color-secondary;
  cursor: pointer;
  font-size: 1.5rem;
}
#reset-btn {
  background-color: $color-transparent;
  color: $color-secondary;
  cursor: pointer;
  font-size: 1.5rem;
}

#letter {
  font-size: 10rem;
  color: $color-secondary;
}

#time {
  font-size: 10em;
  width: 95%;
  color: $color-secondary;
  background-color: $color-transparent;
  outline: none;
  border: 3px solid $color-transparent;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] input[type='text'] {
  font-family: 'Courier New';
  -moz-appearance: textfield;
}
